<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONIA 2024</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>CONIA 2024</h1>
  </header>
  <section>
    <h2>Congreso de Ingeniería y Arquitectura 2024</h2>
    <h3>Ciencia y tecnología para un mundo más humano</h3>
    <img src="/images/uso-del-cannabis.png" alt="Conferencia">
    <p>El cáñamo de cannabis, una variante no psicoactiva de la planta de cannabis,
       está ganando relevancia en la industria de la construcción debido a sus propiedades 
       sostenibles y ecológicas.</p>
    <p>Materiales como el hempcrete (concreto de cáñamo) se destacan por su ligereza, 
        resistencia, aislamiento térmico y capacidad de regular la humedad, lo que lo 
        convierte en una opción eficiente y duradera para la construcción de edificios</p>
    <p>Además, el cáñamo es una planta de rápido crecimiento que requiere menos agua y 
       pesticidas que otros cultivos, lo que la convierte en una alternativa ecológica para 
       reducir la huella de carbono en la industria de la construcción.</p>
  </section>
  <section>
    <h2>Conferencia internacional sobre el cáñamo de Cannabis y sus aplicaciones</h2>
    <p>Ponente:</p>
    <p>Dr. Juan Felipe Aragón</p>
    <img src="/images/conia-ponente.png" alt="Ponente">
    <ul>
      <li>Ingeniero Líder: Retos y desafíos de la cuarta revolución industrial.</li>
      <li>Desde la Universidad Cooperativa de Colombia </li>
      <p> La ponencia fue llevada a cabo el dia 9 de octubre de 2024, en la Universidad
        Centroamericana José Simeón Cañas
      </p>
      <p> Perfil del Ponente: <a href="https://www.linkedin.com/in/ing-juan-aragon-phd-msc/"> Dr. Juan Felipe Aragón</a> </p>
    </ul>
  </section>
  <footer>
    <p>&copy; 2024 CONIA. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
